<section data-ng-controller="SellersController">
    <div class="page-header">
        <h1>New Seller</h1>
    </div>
          <div class="row">
            <!-- left column -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="text-center">
                    <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>

                    <div>
                        watching model:
                        <div class="button" ng-file-select ng-model="files">Upload using model $watch</div>
                      </div>

                </div>

             </div>
            <!-- edit form column -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
                <div class="alert alert-warning alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                      Create a new <strong> Seller Vid</strong> by filling the details below.
                </div>
                <h3>Video Chat info</h3>
                <form class="form-horizontal" data-ng-submit="create()" novalidate>
                         <div class="form-group">
                            <label class="col-lg-3 control-label" for="name">Name:</label>
                            <div class="col-lg-8">
                                <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="name">Chat Title:</label>
                        <div class="col-lg-8">
                            <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="name">Description:</label>
                        <div class="col-lg-8">
                            <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="name">Cost:</label>
                        <div class="col-lg-8">
                            <input type="text" data-ng-model="cost" id="cost" class="form-control" placeholder="Cost" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="name">Duration:</label>
                        <div class="col-lg-8">
                            <input type="text" data-ng-model="duration" id="duration" class="form-control" placeholder="Duration" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn btn-warning" type="submit" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn btn-default" value="Cancel" type="reset">
                        </div>
                    </div>

                         <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                 </form>
            </div>
        </div>


    <div class="col-md-12">

    </div>
</section>
